$control-width                               : 2rem
\:host
    display: block
    position: relative

.select
    &-group-addon
        cursor: pointer
    &-dropdown
        &-container
            box-shadow: 0 3px 10px rgba(0,0,0,.4)
            border-bottom-right-radius: 5px
            border-bottom-left-radius: 5px
            position: absolute
            top: 0
            left: 0
            max-height: 200px
            overflow: auto
            background-color: #eee
            z-index: 1000
            .collection-list
                margin: .5rem 0
                > li
                    cursor: pointer
                    padding-left: 1rem
                    padding-right: 1rem
                    &:hover
                        background-color: #ccc
                    &.active
                        cursor: default
                        background-color: #999
                        &:hover
                            background-color: #999                
                


.selected-item
    border: 1px solid #999
    border-radius: 5px
    padding: .25rem .5rem
    margin: .1rem .2rem

.reset-values
    position: absolute
    top: 50%
    right: .5rem
    transform: translateY(-50%)

.input-invisible
    border: none
    outline: none
    padding: 0 .5rem
    flex-grow: 1
    line-height: 1.75

.input-container
    justify-content: flex-start
    flex-direction: row !important
    flex-wrap: wrap
    overflow: hidden
    padding: 0 $control-width 0 0
    position: relative

.controls
    cursor: pointer
    position: absolute
    top: 0
    right: 0
    bottom: 0
    width: $control-width
    .fa
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
