<div class="input-group">
    <span class="form-control input-container">
        <ng-container *ngIf="options.multiple">
            <span class="selected-item" *ngFor="let item of result">
                {{ item }}
                <i class="fa fa-times"></i>
            </span>
        </ng-container>
        <input type="text" class="input-invisible"
            #selectInput
            [ngModel]="inputValue"
            (ngModelChange)="onValueChange($event)"
            (focus)="openSelect($event)"
        >
        <span class="controls"
              (click)="resetValues()"
        >
            <i class="fa fa-times"></i>
        </span>
    </span>
    <span class="input-group-addon select-group-addon"
          (click)="toggleSelect($event)"
    >
        <i class="fa"
           [ngClass]="caretDirection"
        ></i>
    </span>
</div>
<div class="select-dropdown-container"
     #selectContainer
>
    <ul class="list-unstyled collection-list">
        <li *ngFor="let item of filteredCollection"
            (click)="selectItem(item)"
            [ngClass]="{ 'active': getCls(item) }"
        >
            {{ item }}
        </li>
    </ul>
</div>
