<nav class="navbar navbar-inverse bg-inverse navbar-toggleable-md">
    <div class="container container-fluid">
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a href="#" class="nav-link">Select</a></li>
                <li class="nav-item"><a href="#" class="nav-link"></a></li>
                <li class="nav-item"><a href="#" class="nav-link"></a></li>
                <li class="nav-item"><a href="#" class="nav-link"></a></li>
                <li class="nav-item"><a href="#" class="nav-link"></a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container container-fluid main">
    <div class="form-group row">
        <div class="col-12">
            <ngi-select
                [collection]="selectCollection"
                (selectedCollection)="handleResult($event)"
                [options]="{ sort: 'asc' }"
            ></ngi-select>
        </div>
    </div>
</div>
